<div class="landing">
    <theheader></theheader>
    <landing :movie="featuredMovie" class="landing-hero"></landing>
</div>

<slider @show-movie="showMovie" class="swiper-container" v-for="era in moviesByYear" :era="era" :key="era.title">
</slider>