.landing {
	max-height: 80vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;

	header {
		position: absolute;
		top: 0;
		left: 0;
		grid-column: 1/-1;
		grid-row: 1;
		z-index: 1;
	}
}

.landing-hero {
	position: relative;
	background: black;
	grid-area: 1/1/-1/-1;
	z-index: 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	video {
		place-self: center;
		grid-area: 1/1/-1/-1;
		z-index: -1;
		min-width: 100%;
		min-height: 100%;
		background: rgba(0, 0, 0, 0.705);
		place-self: top center;
	}
}

.feature-info {
	grid-area: 2/1;
	padding: 0 3rem;
	p {
		font-size: 1.2rem;
		margin: 1rem 0;
	}
}

.feature-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	h3 {
		font-size: 3rem;
	}
}

.feature-meta {
	display: flex;
	align-items: center;
	.button {
		margin: 0 1rem 0 0;
	}
	span {
		margin: 0 0.5rem;
	}
	p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 1024px) {
	.feature-info {
		grid-area: 2/1/-1/-1;
		width: 75%;
	}
}

@media screen and (max-width: 768px) {
	.feature-info {
		width: 100%;
		align-self: flex-end;
		margin-bottom: 5rem;
	}
	.feature-desc {
		display: none;
	}
}
