.login-con {
	display: grid;
	place-items: center;
	height: 100vh;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	margin: 0.5rem 0;
	padding: 1rem 0.5rem;
	border-radius: 4px;
}

#login-form {
	display: flex;
	flex-direction: column;
	min-width: 325px;
	width: 33%;

	h2 {
		margin-bottom: 1rem;
	}

	.button {
		width: 100%;
	}

	p {
		font-size: 1.2rem;
	}
	span {
		font-weight: 700;
		cursor: pointer;

		&.login-error {
			color: #e65252;
			float: right;
		}
	}
}
