.login-con {
	display: grid;
	place-items: center;
	height: 100vh;
	grid-template-rows: auto 1fr;
	header {
		grid-area: 1/1/2/-1;
	}
}

#login-form {
	grid-area: 1/1/-1/-1;
	display: flex;
	flex-direction: column;
	min-width: 325px;
	width: 33%;

	h2 {
		margin-bottom: 1rem;
	}

	.button {
		width: 100%;
	}

	p {
		font-size: 1.2rem;
	}
	a {
		color: $white;
		font-weight: 700;
		cursor: pointer;
	}

	span.login-error {
		color: #e65252;
		float: right;
	}
}
