body {
	font-family: "Nunito", sans-serif;
	color: $white;
	overflow-x: hidden;
}
main {
	@include bgGradRadial;
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
	max-width: 2400px;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100vh;
	overflow-x: hidden;
}

h1,
h2 {
	font-size: 2rem;
	font-weight: 600;
}

a {
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

textarea {
	resize: none;
}

.hidden {
	display: none;
}

.highlight {
	color: $highlight;
}

.button {
	border: none;
	cursor: pointer;
	display: block;
	width: max-content;
	color: $bgcolor;
	background-color: $white;
	padding: 1rem;
	margin: 1rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 2px;
}

input,
textarea {
	color: $white;
	background: rgba($white, 0.25);
	font-size: 1.2rem;
	border-radius: 2px;
	border: none;
	&::placeholder {
		color: $white;
	}
}

input[type="text"],
input[type="password"],
input[type="email"] {
	margin: 0.5rem 0;
	padding: 1rem 0.5rem;
	border-radius: 4px;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	background: transparent;

	&::-webkit-slider-thumb {
		margin: -0.25rem;
		@include thumb();
	}
	&::-moz-range-thumb {
		@include thumb();
	}
	&::-ms-thumb {
		@include thumb();
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 8px rgb(0, 94, 55);
	}

	&::-webkit-slider-runnable-track {
		@include track();
	}

	&::-moz-range-track {
		@include track();
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: $bgcolor rgba(0, 0, 0, 0.5);
	&::-webkit-scrollbar {
		height: 8px;
		width: 8px;
		opacity: 0.8;
		margin: 0.25rem;
	}
	&::-webkit-scrollbar-track {
		background: $dk-purple;
	}
	&::-webkit-scrollbar-thumb {
		background: $bgcolor;
		border-radius: 6px;

		&:hover {
			background: $bgcolor;
		}
	}
}
