body {
	@include bgGradRadial;
	background-attachment: fixed;
	font-family: "Nunito", sans-serif;
	color: $white;
	overflow-x: hidden;
}
main {
	width: 100%;
	min-height: 100vh;
	max-width: 2400px;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100vh;
	overflow-x: hidden;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

a {
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

textarea {
	resize: none;
}

.hidden {
	display: none;
}

.button {
	border: none;
	cursor: pointer;
	display: block;
	width: max-content;
	color: $bgcolor;
	background-color: $white;
	padding: 1rem;
	margin: 1rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 2px;
}

input {
	color: $white;
	background: rgba($white, 0.25);
	font-size: 1.2rem;
	border-radius: 2px;
	border: none;
	&::placeholder {
		color: $white;
	}
}
