body {
	font-family: "Nunito", sans-serif;
	color: $white;
}
main {
	background-color: $bgcolor;
	width: 100%;
	min-height: 100vh;
	max-width: 2400px;
	overflow-x: hidden;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

a {
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

textarea {
	resize: none;
}

.hidden {
	display: none;
}

.button {
	color: $bgcolor;
	background-color: $white;
	padding: 1rem;
	margin: 1rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 2px;
}

input {
	background: $white;
	font-size: 1.2rem;
	border-radius: 2px;
	border: 1px solid #aaa;
}
