.swiper-container {
	height: 50vh;
	max-height: 500px;
	margin: 6rem 3rem;

	h2 {
		margin-bottom: 1rem;
	}

	.swiper-slide {
		img {
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.swiper-button-prev {
		color: $white;
	}
	.swiper-button-next {
		color: $white;
	}

	.swiper-pagination {
		height: 20px;
		.swiper-pagination-bullet {
			cursor: pointer;
			background: $white;
			opacity: 0.5;
			width: 12px;
			height: 12px;
			margin: 0 8px;
		}
		.swiper-pagination-bullet-active {
			background: $white;
			opacity: 1;
		}
	}
}
