.slider {
	padding: 5rem;
	h2 {
		margin-bottom: 1.5rem;
	}
}
.swiper-container {
    position: relative;
	margin-bottom: 5rem;
	padding: 0;
	height: 480px;

	.swiper-slide {
		//* movie thumb
		cursor: pointer;
		overflow: hidden;
		width: 300px;
		height: 100%;
		text-align: center;
		transition: transform 250ms ease-out;
		&:hover {
			transform: scale(1.05);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		background: $white;
		color: $bgcolor;
		padding: 1rem;
	}
	.swiper-button-prev {
		left: 0;
	}
	.swiper-button-next {
		right: 0;
	}
}

@media screen and (max-width: 768px) {
	.slider {
		padding: 5rem 1rem;
	}
	.swiper-container {
		height: auto;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
}
